html {

  font-size:16px;
  scroll-behavior: smooth;
}

.bg-1 {
  background-color: #003459;

}

.bg-2 {
background-color: #007ea7;  

}

header{
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/header_1.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


section {
  padding: 3rem;
  min-height: 50vh;
}

section#about{
  background-color: #ADD8E6;  
}




.contact-form-bg-image {
  background-image: url('https://source.unsplash.com/kKvQJ6rK6S4/660x1000');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section#partners{
  margin: 0;
  padding: 0;
}




